    // Import page-specific CSS files here.
      @import "home";
      @import"trainershow";

      h1

      {

        border-bottom:double;
        border-color:green;
      }

      h2

      {

        border-bottom:double;
        border-color:blue;
      }


     h3
     {

      border-bottom:double;
      border-color:blue;


     }





